$white: #FFFFFF;

$gray-800: #333333;
$gray-700: #666666;
$gray-600: #999999;
$gray-500: #AAAAAA;
$gray-400: #CCCCCC;
$gray-300: #DDDDDD;
$gray-200: #E9E9E9;
$gray-100: #F6F6F6;

$blue-800: #0077CC;
$blue-700: #1188EE;
$blue-600: #44AAFF;
$blue-500: #77BBFF;
$blue-400: #AAD6FF;
$blue-300: #CAE6FF;
$blue-200: #DFF0FF;
$blue-100: #EEF6FF;

$green-800: #118800;
$green-700: #33A300;
$green-600: #55BB22;
$green-500: #88D633;
$green-400: #AAEE88;
$green-300: #C3F3B0;
$green-200: #E3FCDC;
$green-100: #F0FFEC;

$red-800: #BB3300;
$red-700: #DD4422;
$red-600: #EE6644;
$red-500: #FF7766;
$red-400: #FF9F8C;
$red-300: #FFC3BC;
$red-200: #FFE6E3;
$red-100: #FFF3F3;

$purple-800: #662288;
$purple-700: #7744AA;
$purple-600: #8866BB;
$purple-500: #AA99DD;
$purple-400: #C9BBFF;
$purple-300: #E0D0FF;
$purple-200: #ECDFFF;
$purple-100: #F3EEFF;

$steel-blue-800: #0077AA;
$steel-blue-700: #1188BB;
$steel-blue-600: #5599CC;
$steel-blue-500: #77BBDD;
$steel-blue-400: #9FCFEA;
$steel-blue-300: #C5DFEC;
$steel-blue-200: #DBECF5;
$steel-blue-100: #ECF6FC;

$petrol-800: #007777;
$petrol-700: #008888;
$petrol-600: #33BBBB;
$petrol-500: #66CCCC;
$petrol-400: #88DDDD;
$petrol-300: #CCECEC;
$petrol-200: #D9F6F6;
$petrol-100: #EEFCFC;

$yellow-800: #997711;
$yellow-700: #BF9C00;
$yellow-600: #EEBB22;
$yellow-500: #FFD333;
$yellow-400: #FFE677;
$yellow-300: #FFFABB;
$yellow-200: #FFFFDD;
$yellow-100: #FFFFEC;

$orange-800: #BB6600;
$orange-700: #DD7711;
$orange-600: #EE9911;
$orange-500: #FFAA11;
$orange-400: #FFBB55;
$orange-300: #FFD099;
$orange-200: #FFEFDC;
$orange-100: #FFF6EC;

$pink-800: #CC0077;
$pink-700: #DD11BB;
$pink-600: #FF22FF;
$pink-500: #FF55FF;
$pink-400: #FF99FF;
$pink-300: #FFCCFF;
$pink-200: #FFE3FF;
$pink-100: #FFECFF;

$yellow-green-800: #446600;
$yellow-green-700: #668800;
$yellow-green-600: #99BB00;
$yellow-green-500: #BCDF33;
$yellow-green-400: #CCEF77;
$yellow-green-300: #DDF999;
$yellow-green-200: #ECFCB3;
$yellow-green-100: #F6FFE9;